<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Claim Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Claim Management System</h1>
		<hr>
		<h2>Save Claim</h2>

		<form action="#" th:action="@{/saveClaim}" th:object="${claim}"
			method="POST">
				<input type="text" th:field="*{description}"
				placeholder="Claim description" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}"
				placeholder="Claim person Email Address" class="form-control mb-4 col-4">
				
			    <input type="text" th:field="*{firstName}"
				placeholder="Claim Person First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}"
				placeholder="Claim Person Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{status}"
				placeholder="Claim Status" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{title}"
				placeholder="Claim Title" class="form-control mb-4 col-4">
				

				<button type="submit" class="btn btn-info col-2"> Save Claim</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Claim List</a>
	</div>
</body>
</html>